* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  overflow: hidden;
  margin: 0;
  background: rgb(218, 156, 156);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  position: relative;
  width: 100%;
  display: flex;
  padding: 0 20px;
}

.slider__nav {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
}

.slide {
  height: 85vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.slide.active {
  flex: 10;
}

.slide h2 {
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}
.slide.active h2 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.5s;
}

.btn {
  margin-right: 40px;
  width: 45px;
  height: 45px;
  background-color: #e74c3c;
  border: none;
  border-radius: 3px;
  position: relative;
  cursor: pointer;

  transition: all .2s linear;
}
.btn:hover {
   background-color: #bd4639;
}

.btn:before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  border: 3px solid white;
  transform: translate3d(-50%,-50%, 0) rotate(45deg);
  top: 50%;
  left: 50%;
  border-radius: 2px;
}

.btn.btn-next:before  {
  border-bottom: 0px;
  border-left: 0px;
}
.btn.btn-prev:before  {
  border-top: 0px;
  border-right: 0px;
}
