@import 'utils';
@import 'fonts';
@import 'typography';

body {
  background: $c-gray;
  font-size: 22px;
}

.menu__link {
  cursor: pointer;

  &:hover,
  &.active {
    font-weight: 700;
  }
}

.sub-menu {
  display: none;
  opacity: 0;

  cursor: pointer;
  transition: all 1s linear;

  &.show {
    display: block;
    animation: 0.3s linear menu-in;
    opacity: 1;
  }

  &__link {
    &:hover,
    &.active {
      font-weight: 700;
    }
  }
}

.sub-menu__options {
  display: none;
  opacity: 0;

  &.show {
    display: block;
    animation: 0.3s linear menu-in;
    opacity: 1;
  }

  li {
    transition: all 0.1s linear;
  }
  li:hover {
    font-weight: 700;
  }
}

@keyframes menu-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes menu-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
