@import "utils";
@import "fonts";
@import "typography";

body {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
}

.gallery {
  max-width: 920px;
  margin: 0 auto;

  &__large-img {
    object-fit: cover;
  }
  &__thumb {
    max-width: 225px;
    object-fit: cover;
    filter: blur(2px) grayscale(1);
    transition: all .4s linear;

    &.active {
       filter: blur(0) grayscale(0);
    }
    
  }
  &__list {
    max-width: 920px;
    display: flex;
    justify-content: space-between;

    .list-item {
      list-style-type: none;
    }
  } 
}

