@import 'utils';
@import 'fonts';
@import 'typography';

body {
  background: $c-gray;
  font-size: 22px;
}

li {
  cursor: pointer;
}
ul {
   animation: 0.3s linear menu-in;
}

ul> li {
  font-weight: 400;
}
ul> li.active {
  font-weight: 700;
}
ul> li:hover {
  font-weight: 700;
}

.active {
  font-weight: 700;
}

.hide {
  display: none;
}

@keyframes menu-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}